.checking-session {
    height: 100vh;
    text-align: center;

    .MuiCircularProgress-root {
        color: var(--white) !important;
    }
    p {
        margin: 2rem 0 0;
        color: white;
        font-size: 1.3rem;
    }
}