:root {
  // Fonts
  --heading: "Raleway", sans-serif;
  --text: "Roboto", sans-serif;
  // Colors
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --black: #202020;
  --white: #ffffff;
  --primary: #3880ff;
  --primary-shade: #3171e0;
  --primary-tint: #4c8dff;
  --success: #2dd36f;
  --success-shade: #28ba62;
  --success-tint: #42d77d;
  --danger: #eb445a;
  --danger-shade: #cf3c4f;
  --danger-tint: #ed576b;
  --warning: #ffc409;
  --warning-shade: #e0ac08;
  --warning-tint: #ffca22;
}
